@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

// ----------------------------------------------
// General
// ----------------------------------------------

// Hide Arrows in Input Number Field
// ----------------------------------------------
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// ----------------------------------------------
// Utility classes
// ----------------------------------------------

// Padding
.pt-6 {
  padding-top: 5rem !important;
}

.pb-6 {
  padding-bottom: 5rem !important;
}

.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

// ----------------------------------------------
// Typography
// ----------------------------------------------

.site-title {
  font-family: 'Handlee', cursive;
  font-size: 1.5rem;
}

// ----------------------------------------------
// Home Page
// ----------------------------------------------

.category-card {
  cursor: pointer;

  &:hover {
    outline: 3px solid grey;
  }

  &-image:hover {
    opacity: 0.2;
    transition: 0.5s;
  }
}

// ----------------------------------------------
// Shop Page
// ----------------------------------------------

.item-card:hover {
  transform: scale(1.01);
  outline: 3px solid grey;
}
