@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

// ----------------------------------------------
// General
// ----------------------------------------------

// Hide Arrows in Input Number Field
// ----------------------------------------------
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.bg-img {
  background-image: url('../images/doodle_light.png');
}

// ----------------------------------------------
// Utility classes
// ----------------------------------------------

// Padding
.pt-6 {
  padding-top: 5rem !important;
}

.pb-6 {
  padding-bottom: 5rem !important;
}

.py-6 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.py-7 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

// ----------------------------------------------
// Typography
// ----------------------------------------------

.font-handlee {
  font-family: 'Handlee', cursive;
}

// ----------------------------------------------
// Hover
// ----------------------------------------------

.hover-outline:hover {
  outline: 2px solid grey;
}

.hover-fade:hover {
  opacity: 0.2;
  transition: 0.5s;
}

.hover-enlarge:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}
